body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #B8CEF2; /*#B8CEF2 oder 8889af*/
    color: #4d4d4d;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    /*border-bottom: black solid 1px;
    border-top: black solid 1px;*/
    border-color: #4d4d4d;
}

h2 {
    color: #7e7e7e;
    margin: 0px auto 0; /* Oben und unten: 20px, zentriert */
    text-align: center;
    max-width: 700px;
    align-items: center; /* Zentriert die Elemente vertikal */
    padding-bottom: 0px;
    font-size: 1.3em;
}

h3 {
    color: #000000;
    margin: 0px auto 0; /* Oben und unten: 20px, zentriert */
    max-width: 658px;
    padding: 20px;
    font-style: italic;
    font-size: 1em;
    font-weight: normal;
}

h4  {
    background-color: #B8CEF2; /*#B8CEF2 oder 8889af*/
    color: #4d4d4d;
    padding: 2px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    border-color: #4d4d4d;
}



p {
    color: #000000;
    font-size: 1em;
}

.center-text {
    text-align: center;                /* Text zentrieren */
    flex: 1; 
}

.left-text {
    text-align: left;                 /* Text rechtsbündig */
    flex: 1; 
}

.right-text {
    text-align: right;                 /* Text rechtsbündig */
    flex: 1; 
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 99%;
}

.dataTables_length,
.dataTables_info,
.dataTables_paginate {
    display: none;
}

.einleitung {
    margin: 0 auto;
    background-color: #e7e6e6;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 658px;
}

ol, ul {
    margin: 0 auto;
    padding: 0px;
    list-style-position: inside;
    max-width: 700px;
}

li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.antwort{
    padding-top: 0px;
}



input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.neueAufgabe {
    background-color:#4e73df;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0px;
    margin-right: -20px;
    float: right;
    display: none;
}

/*Tabellen in Aufgaben:*/
.TabelleEinleitung {
    width: 100%;                /* Breite der Tabelle */
    border-collapse: collapse;  /* Zusammenführung der Randlinien */
    text-align: center;         /* Zentrierung aller Inhalte */
    table-layout: fixed;        /* Erzwingt gleichmäßige Spaltenbreite */
    font-size: clamp(0.5em, 5vw, 1em);
}

.TabelleEinleitung td, .TabelleEinleitung th {
    border: 1px solid black;    /* Schwarze Gitternetzlinien */
    padding: 8px;               /* Innenabstand für bessere Lesbarkeit */
}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
    max-width: 75%;
    position: sticky;
    top: 10px;
    /*z-index: 10;  Falls nötig, anpassen */
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #888;
    height: 50px; 
}


#Aufgabensammlung {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px;
    background: rgba(226, 226, 226, 0.719);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#Aufgabensammlung button {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color:#3f62cce1;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}
#Aufgabensammlung button:hover {
    background-color: #3e61c9;
} 

#toggle-button {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color:#3f62cce1;
    color: white;
    border-radius: 20px;
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
    font-size: 15px;
    width: 250px;
}

#toggle-button:hover {
    background-color:#3f62cc;
}
#startExam {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color:#e72f8bb0;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    display: block;
    margin: 0px auto;
    width: 250px;
}
#startExam:hover {
    background-color: #e72f8b;
} 

.dataTables_filter input {
    display: block;
    margin: 0 auto; /* Sorgt für horizontale Zentrierung */
    width: 250px !important; 
    padding: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #7e7e7e; 
}





select.mch + .select2-container .select2-selection--single {
    height: 40px; 
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    min-width: 85px;
    max-width: 100%;
}


.select2-container{
    min-width: 85px;
    max-width: 90%;
}


.toggle-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
}

/* Aktiver Zustand: "gedrückt" */
.toggle-button.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(2px);
}


.info-icon, .copy-icon, .xml-icon, .test-icon, .check-icon, .auswahl-icon, .teilen-icon, .check-all-icon, .pdf-icon, .eye-icon, .reload-icon, .trash-icon, .clip-icon  {
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    padding: 2px;
    margin-left: 5px;
    position: relative;
}

.clip-icon {
    color: #ff0000c2;
}

.clip-icon:hover {
    color: #ff0000;   
}

.info-icon {
    color: #e2a92db0;
}
.info-icon:hover {
    color: #e2a92d;
}
.xml-icon {
    color: #5882ffb0;
}
.xml-icon:hover {
    color: #5882ff;
}
.copy-icon {
    color: #5882ffb0;
}
.copy-icon:hover {
    color: #5882ff;    
}
.test-icon {
    color: #e72f8bb0;
}
.test-icon:hover {
    color: #e72f8b;      
}
.pdf-icon, .eye-icon, .reload-icon, .trash-icon, .check-all-icon {
    padding-right: 10px;
    padding-left: 10px;
}

.check-icon, .check-all-icon {
    color: #5882ffb0;
    margin-left: 5px;
}
.check-icon:hover,.check-all-icon:hover {
    color: #5882ff;
}
.auswahl-icon{
    color: #919191cb;
}
.auswahl-icon:hover{
    color: #919191;
}

.eye-icon{
    color: #e2a92db0;
}
.eye-icon:hover {
    color: #e2a92d;
}
.reload-icon{
    color: #19a35ead;;
}

.reload-icon:hover{
    color: #19a35e;;
}

.pdf-icon{
    color: #e03d31a8;
}

.pdf-icon:hover{
    color: #E03C31;
}

.trash-icon{
    color: #693c77a4;
}

.trash-icon:hover{
    color: #693c77e4;
}
/* Modernere Hover-Effekte */
table.dataTable tbody tr:hover {
    background-color: #f1f1f1;
}

/* Blendet Spalten aus */
table.dataTable tr th:nth-child(2),
table.dataTable tr td:nth-child(2),
table.dataTable tr th:nth-child(3),
table.dataTable tr td:nth-child(3),
table.dataTable tr th:nth-child(4),
table.dataTable tr td:nth-child(4),
table.dataTable tr th:nth-child(5),
table.dataTable tr td:nth-child(5),
table.dataTable tr th:nth-child(7),
table.dataTable tr td:nth-child(7),
table.dataTable tr th:nth-child(8),
table.dataTable tr td:nth-child(8),
table.dataTable tr th:nth-child(9),
table.dataTable tr td:nth-child(9)   {
display: none;
}

/* Die Infobox */
.info-text {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    word-wrap: break-word;
    border-radius: 8px;
}

/* Hintergrundüberlagerung */
.overlay {
    display: none;
    position: fixed; /* Bedeckt den gesamten Bildschirm */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Halbtransparente Verdunkelung */
    z-index: 999; /* Liegt hinter dem Infotext, aber vor dem Rest der Seite */
}



a.link-homepage {
    text-decoration: none;  /* Unterstreichung entfernen */
    color: inherit;         /* Erbt die Textfarbe des Elternelements */
}

a.link-homepage:hover {
    /* Optional: Verhalten bei Hover definieren */
    text-decoration: none;  /* Auch beim Hover keine Unterstreichung */
    color: inherit;         /* Farbe bleibt unverändert */
}

@media (max-width: 768px) {
    li {
        padding: 15px;
    }
    input[type="text"] {
        width: 60px;
    }
    img{
        width: 75%;
        max-width: 75%; 
    }
    .select2-container {
        max-width: 75%;
    }
}

@media print {
    .aufgabe { 
        page-break-before: always;
    }
    
    @page {
        margin: 0; /* Setzt die Seitenränder auf 0, um Kopf und Fußzeilen mit Meta-Info zu vermeiden */
    }
    body {
        padding: 2cm;
        padding-left: 3cm;
        padding-right: 3cm;
        width: 21cm; /* A4-Breite */
        height: 29.7cm; /* A4-Höhe */
    }
    .einleitung {
        max-width: 100%;
        background-color: #ffffff;
        border: 0px;
        box-shadow: none;
        margin: 0px;
        padding: 0px;
    }
    ol,  ul {
        max-width: 100%;
        list-style-position: outside;
        padding-left: 1cm;
    }
    li{
        box-shadow: none;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
    img {
        max-width: 50%;
    }
    h2 { 
        display: none;
    }
    h1{
        margin-top: 0px;
        margin-bottom: 30px;
        padding-bottom: 0px;
    }
    h3{
        background-color: #929292;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        max-width: 100%;
   

    }
    li .check-icon{
        display: none !important;
    }
    li .clip-icon{
        display: none !important;
    }


    .frage{
        display: inline-block;
        margin-bottom: 20px;
    }

    input[type="text"]{
        visibility: hidden; /* Versteckt das Element, ohne den Platz zu entfernen */
        width: 40px; /* Breite des Platzhalters */
        height: 5px;  /*Höhe des Platzhalters */
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*.select2-container {
        display: none !important;
    }*/
    .select2-container  {
        visibility: hidden !important;;
        min-width: 0px !important;
        width: 40px !important;
    }
    /*.antwort{
        display: none;
    }*/
}


/* Animation für einen Farbverlaufseffekt */
@keyframes strobeEffect {
    0%, 100% {
        background: linear-gradient(45deg, #ff0000, #00ff00);
    }
    25% {
        background: linear-gradient(45deg, #00ff00, #ff0000);
    }
    50% {
        background: linear-gradient(45deg, #00ffff, #ff00ff);
    }
    75% {
        background: linear-gradient(45deg, #ff00ff, #00ffff);
    }
}

/* Definieren des stärkeren Blinkeffekts */
/* Keyframes für das Blinken */
@keyframes blink {
    0% {
        box-shadow: inset 0 0 5px 5px #8897af; /* Innerer Glow, schwächer */
    }
    50% {
        box-shadow: inset 0 0 5px 10px #8897af; /* Innerer Glow, stärker */
    }
    100% {
        box-shadow: inset 0 0 5px 5px #8897af; /* Zurück zu schwächerem Glow */
    }
}

/* Modifikationen für Clips */
/*
.nachfolgend li:hover {
    animation: blink 0.2s infinite; 
}

ol li:nth-child(-n+1) {
    visibility: hidden; 
    height: 0; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
  }
  
.einleitung {
    margin-left: 20px;
    margin-right: 20px;
}
.nachfolgend li {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    position: sticky;
    top: 10px;
}
/*


/* Klasse für den stroboskopischen Hintergrund */
.strobe-background {
    animation: strobeEffect 0.2s 4;
    background-size: 200% 200%;
}
/*
h1 {
    margin-bottom: 150px;
}
h2 {
    display:none;
}
h3 {
    display: none;
}
*/


/*Zzzz
#dropdowns {
    border-collapse: separate;
    border-spacing: 5px;
    margin-bottom: 20px;
    position: sticky;
    display: none;
}
*/

/*
#Aufgabensammlung {
    text-align: center;
}

#Aufgabensammlung .select2-container {
    min-width: 300px;
    max-width: 90%;
}

#Aufgabensammlung .select2-selection {
    display: flex;
    align-items: center;
    text-align: left !important;
    border-radius: 20px !important;
    height: 40px;
    padding-left: 10px;
    color: #4d4d4d;
}*/